nav{
	margin: 0 auto;
}

nav ul{
	list-style: none;
	background-color: #aaaaaa;
	color:white;
/* 	padding: 0 20px;
 */	border-radius: 2px;
	postion: relative;
	display: inline-table;
	
} 
nav ul: after{
	content: "";
	clear: both;
	display: block;
	
}
nav ul li ul li {
	display: none;
} 
 
nav ul li:hover > ul li{
	display: block;
}

nav ul li ul {
    padding-left:0;
}
nav ul li ul li {
    float:none;
} */

nav ul ul{
	display: none;
}

nav ul li:hover > ul{
	display: block;
}

nav ul li {
	float: left;
}
nav ul li:hover {
/* 	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%); */
	
}
nav ul li:hover a {
	color: #fff;
	background-color: #cccccc;
}
	
nav ul li a {
	display: block; 
	padding: 10px 10px; 
	color: #757575; 
	text-decoration: none;
}



